---
import Hero from '../components/features/Hero.astro'
---

<section id="home" class="pt-24 w-full max-w-full overflow-x-hidden">
  <div class="min-h-screen bg-gradient-to-b from-black to-[#0B0B0B] text-white w-full">
    <Hero />
  </div>
</section>
