---
import Container from '../components/ui/Container.astro'
import CrossContainerTitle from '../components/features/CrossContainerTitle.astro'
import { Image } from 'astro:assets'
---

<section id="workshops" class="px-section mt-14 relative">
  <Image
    width={160}
    height={160}
    src="/img/workshops-ms.webp"
    alt="Icono de mensajes"
    class="absolute top-20 left-24 max-xl:hidden w-40 max-2xl:w-24 max-2xl:top-32 max-2xl:left-10"
  />
  <Image
    width={172}
    height={176}
    src="/img/workshops-cubes.webp"
    alt="Icono de cubos"
    class="absolute right-28 max-xl:hidden w-36 grayscale -rotate-12 top-28 max-2xl:w-24 max-2xl:top-36 max-2xl:right-10"
  />
  <Container>
    <div class="flex justify-center flex-wrap">
      <h2
        class="font-clash text-white text-[clamp(2rem,5vw,4.5rem)] text-center leading-tight text-balance"
      >
        Estamos listos para iniciar el evento
        <CrossContainerTitle>más grande de tecnología en Colombia</CrossContainerTitle>
        <br />
        <span class="font-bold">
          <CrossContainerTitle>FESTECH 2025</CrossContainerTitle>
        </span>
      </h2>
      <p class="text-light-gray max-lg:text-center max-lg:mt-8 max-lg:w-5/6">
        Aprende, conecta y colabora en sesiones prácticas diseñadas para inspirar y potenciar tus
        habilidades.
      </p>
    </div>
    <div></div>
  </Container>
</section>
